* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C3A47;
  color: white;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container-inner {
  border: 1px solid white;
  background-color: #182C61;
  max-width: 400px;
  height: auto;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.beat-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.keys {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #3B3B98;
  font-size: 1.5rem;
  margin: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.keys:active {
  background-color: orange;
}

.active {
  background-color: orange;
}


